<button id="newGameBtn">New Game</button>
<h2>Games Awaiting Players:</h2>
{{#each game as |game|}}
{{!-- {{#if !game.player2}}
{{game.player1.name}}
<button>Join</button>
{{/if}} --}}

{{!-- add test msessage for when creating new game. should appear. --}} <p>test message</p>
{{/each}}

<script src="/js/newGame.js"></script>