body{
  background-color: brown;
  color: azure;
}

.container{
  border: 3px black solid;
  padding-top: 15px;
}

.die{
  padding: 0;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  background-color: blanchedalmond;
  color: black;
}

.kept{
  background-color: aquamarine;
}

.segment-header{
  font-size: 14px;
}

.effect,
.note{
  font-size: 10px;
}

.developments,
.monuments,
.goods{
  font-size: 12px;
}

p{
  font-size: 13px;
  padding: 0;
}

.announcement{
  position: fixed;
  background-color: lightgoldenrodyellow;
  top: 10%;
  width: 60%;
  left: 20%; 
  text-align: center;
  padding-bottom: 15px;
  color: black;
}

.message{
  font-size: 20px;
}

.resource{
  position:fixed;
  background-color: lightgreen;
  top: 25%;
  width: 25%;
  left: 5%;
  text-align: center;
  padding-bottom: 15px;
  color: black;
}

.range{
  position:fixed;
  background-color: lightsteelblue;
  top: 55%;
  width: 20%;
  left: 65%;
  text-align: center;
  padding-bottom: 15px;
}

.bar{
  text-align: end;
}

.choice{
  position:fixed;
  background-color: lightcoral;
  top: 45%;
  width: 30%;
  left: 35%;
  text-align: center;
  padding-bottom: 15px;
}

.dropdown{
  position:fixed;
  background-color: lightsalmon;
  top: 25%;
  width:20%;
  left: 65%;
  text-align: center;
  padding-bottom: 15px;
}

.btn-warning{
  width:25%;
  margin-left: 16%;
}

.rules {
  width: 80%;
  margin-left: 5%;
}

.rules p{
  font-size: 15px;
}

#developmentsDropdown,
#done {
  width: 90%;
  text-align: center;
  margin: 10px;
}

h1{
  text-align: center;
}

.rangeFinder .row {
  justify-content: space-evenly;
}

.ok {
  position: fixed;
  height: 100%;
  width: 15%;
  background-color: violet;
  text-align: center;
  padding-bottom: 15px;
  left: 85%;
  top: 0%;
}

.none{
  display: none
};